.border {
    composes: border from "./../universal/default.module.css";
}
.btn {
    composes: btn from "./../universal/button/button.module.css";
}
.shoppingCart {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemsArea {
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: rgb(231, 237, 241);
}
.h1 {

}
.list {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(fit-content, minmax(250px, 1fr));
    gap: 0.5rem 2rem;
}
.product {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 500px;
    height: 200px;
    padding: 1rem;
    background: white;
}
.image {
    grid-column: 3 / 4;
    grid-row: 2;
    max-width: 80px;
}
.price {
    grid-row: 2;
}
.title {
    place-self: start;
    grid-row: 1;
    grid-column: 1 / 4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}
.buttonArea {
    grid-row: 1;
    justify-self: end;
    align-self: start;
}
.checkout {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    padding: 2rem;
    border: rgb(189, 192, 194) 1px solid;
    border-radius: 4px;

}
.checkoutButton {
    align-self: flex-end;
}
@media (min-width: 1200px) {
    .list {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
@media (max-width: 685px) {
    .product {
        
        width: 250px;
    }
    .title {
        max-width: 200px;
    }
}